$sass-variable: 5px;

:root {
  // only supported with sass
  --color: #42TTTT;
}
body {
  color: var(--color);
}

p {
  box-shadow: 0 0 $sass-variable black;
}

#container a { top: 10px; } a { top: 0; }